# escludo tutti i file oggetto e gli eseguibili
*.o
*a.out

# escludo tutti gli infile e outfile di pipex
pipex/out*
pipex/in*

# escludo tutti i tester di pipex
pipex-tester/
pipex_tester_42
deepthought.txt

# escludo tutta minilibx
fractol/minilibx-linux/*